:root {
    /* Colors Texts & Backgrounds */
    --color-primary: #525B00;
    --color-secondary: #351006;
    --color-text-paragraph:#000000;
    --color-text: white;
    --color-active: #818F00;
    --color-button-link: #351006;
    --color-horizontal-line: #351006;

    /* Fonts */
    --font-nav: 'Poppins', sans-serif;
    --font-buttons: 'Poppins SemiBold', sans-serif;
    --font-titles: 'Poppins Bold', sans-serif;
    --font-paragraphs: 'Manrope', sans-serif;
    --font-subtitles: 'Manrope Bold', sans-serif;
}

a:focus-visible {
  outline: 3px solid red;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 90px;
  background: white;
  color: black;
  padding: 10px;
  z-index: 100;
  transition: top 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
}

.skip-link:focus {
  top: -5px;
}

.logo img {
    width: 150px; 
}


.button {
    background-color: var(--color-primary); 
    border: none;
    padding: 10px 15px;
    height: 40px;        
    width: 120px;       
    border-radius: 20px 5px 20px 5px;
    font-family: var(--font-buttons);
    font-weight: 200;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
}

.button:hover {
    background-color: var(--color-secondary);
}

.button:active {
    background-color: var(--color-active); 
}

.navbar-logo-menu {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 3rem;
}

.navbar-light {
    background-color: white !important; 
}

.navbar-brand {
  order: 1;
}

.order-button {
  order: 3;
}

.nav-link {
    letter-spacing: 1px; 
  }

.navbar-nav .nav-link {
    color: var(--color-secondary) !important;
    margin-right: 20px;
    padding-right: 10px;
}

  .dropdown-toggle::after {
    display: none !important;
  }

  .caret-icon {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .caret-icon svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;  
    margin-left: 5px;        
    fill: var(--color-secondary);
  }

  .hero-video {
    height: 100vh;
    overflow: hidden;
  }
  
  .hero-video video {
    object-fit: cover;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .hero-video .overlay {
    z-index: 1;
    padding: 2rem;
    background: rgba(0, 0, 0, 1); 
  }
  
  .hero-section {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-25%);
    max-width: 600px;
    text-align: left;
    margin-left: 80px;
    z-index: 2;
  }
  
  .custom-heading {
    font-family: var(--font-titles);
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  }
  
  .custom-paragraph {
    font-family: var(--font-paragraphs);
    font-size: 1.1rem;
    font-weight: 400;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }
  
  .video-controls {
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; 
  }


.main-content {
  display: flex;
  align-items: center;
}

.main-content .container-fluid {
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-content .row {
  height: 100%;
  width: 100%;
  margin: 0;
}


.main-content .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem; 
}

.main-content .image-container {
  padding: 0;
  margin: 0;
}


.main-content .full-screen-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}


.horizontal-line {
  width: 22%;
  height: 1px;
  background-color: var(--color-button-link); 
  margin-top: 0px;
}


.main-content .btn-link {
  font-size: 1.2rem;
  color: var(--color-button-link);
  text-decoration: none;
  margin-bottom: 5px;
}

.main-content .btn-link:hover {
  color: var(--color-active) 
}


.main-content .text-content h2 {
  font-family: var(--font-titles); 
  font-size: 2rem;
  color: var(--color-primary); 
  margin-bottom: 50px;
}


.main-content .text-content p {
  font-family: var(--font-paragraphs); 
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--color-text-paragraph); 
}

.horizontal-line2 {
  width: 44%;
  height: 1px;
  background-color: var(--color-button-link); 
  margin-top: 0px;
}

.horizontal-line3 {
  width: 31%;
  height: 1px;
  background-color: var(--color-button-link); 
  margin-top: 0px;
}

.cards-section {
  padding: 5rem 2rem;
  background-color: white; 
}

.container-cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 2rem; 
  max-width: 1200px; 
  margin: 0 auto;
}

.card {
  width: 450px; 
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  
}

.card-text {
  padding: 1.5rem;
  background-color: var(--color-primary);
  height: 100%;
}

.card-text h3 {
  margin: 0 0 1rem 0;
  font-family: var(--font-subtitles); 
  font-size: 1.5rem;
  color: #ffffff;
}

.card-text p {
  font-family: var(--font-paragraphs);
  font-size: 1rem;
  color: #ffffff;
}

.card-body {
  background-color: #f8f8f8; 
  padding: 10px;
}

.card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
}

.section-title {
  font-family: var(--font-headings); 
  font-size: 2rem;
  color: var(--color-primary); 
  text-align: left;
  margin-bottom: 4rem;
  margin-top: -2rem; 
  margin-left: 10rem;
}




.blog-recipes-section h2 {
  margin-bottom: 2rem; 
  font-family: var(--font-headings); 
  font-size: 2rem; 
  color: var(--color-primary); 
}


.blog-recipes-section p {
  font-family: var(--font-paragraphs);
  font-size: 1.1rem;
  color:var(--color-text-paragraph); 
}


.blog-recipes-section .btn-link {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--color-button-link);
  text-decoration: none;
}

.blog-recipes-section .horizontal-line2 {
  width: 10%;
  height: 1px;
  background-color: var(--color-button-link);
  margin-top: 0rem;
}

.reservation-section {
  background-color: white;
  padding: 1rem 0;
  text-align: center;
}

.reservation-button {
  font-family: var(--font-buttons);
  font-size: 2rem;
  color: var(--color-primary);
  background-color: white;
  padding: 1rem 3rem;
  text-decoration: none;
  display: inline-block;
}

.reservation-button:hover {
  color: var(--color-secondary); 
}

.reservation-button:active {
  color: var(--color-active); 
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-primary);
  color: white;
  padding: 12rem 3rem 0 3rem; 
  justify-content: center;
  align-items: center;
}

.footer-top {
  display: flex;
  max-width: 700px;
  align-items: center;
  justify-content: center; 
  gap: 2rem;
  border-bottom: 2px solid white;
  padding-bottom: 2rem; 
}

.footer-instagram {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.insta-img {
  width: 150px;
  height: 110px;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.insta-img:hover {
  transform: scale(1.1);
}

.footer-subscription {
  width: 100%;
  max-width: 500px;
  margin-top: 0.10rem;
}

.footer-subscription h3 {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.footer-subscription p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subscription-form input[type="email"] {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-paragraph);
}

.signup-btn {
  background-color: var(--color-secondary); 
}

.signup-btn:hover {
  background-color: var(--color-active);
}

.signup-btn:active {
  background-color: var(--color-primary); 
}

.footer-logo-menu {
  display: flex;
  width: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: center; 
  padding: 2rem 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 1rem;
}
.footer-logo img {
  width: 200px;
}

.footer-menu-container {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  border-radius: 35px 10px 35px 10px;
  padding: 8px 25px;
  width: 50%;
}

.footer-link {
  font-family: var(--font-nav);
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: var(--color-active);
} 

.footer-social {
  display: flex;
  width: 100%;
  max-width: 700px;
  justify-content: space-between;
}
.footer-social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: .5rem;
}
.social-icons {
  display: flex;
  gap: .5rem;
}
.footer-copy {
  text-align: right;
  width: 100%;
  max-width: 700px;
}







/* Our Menu Page */

.hero-content h1.custom-heading {
  color: white; 
}


.menu-section {
  padding: 40px 0;
}

.custom-heading {
  font-family: var(--font-titles);
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}


.menu-buttons-container {
  padding: 15px 0; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  position: sticky;
  top: 0; 
  z-index: 1000; 
  width: 100%;
  margin-top: 0%;
  margin-bottom: 10px;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

div .btn .menu-btn {
  background-color: var(--color-primary);
  color: white;
  font-size: 1.2rem;
  padding: 12px 30px;
  border-radius: 25px; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  visibility: visible; 
  opacity: 1; 
  z-index: 1;
}

.menu-btn:hover {
  background-color: #EAD600; 
  transform: translateY(-5px); 
}

.menu-title {
  text-align: center;
  margin-left: 0;
}

/* Ocultar extra cards inicialmente */
.extra-cards {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Cuando se muestra */
.extra-cards.open {
  max-height: 1000px; /* lo suficiente para mostrar las cards */
}

.extra-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; /* o space-between, según tu diseño */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.extra-cards.open {
  max-height: 1000px;
}

/* Link estilo */
.toggle-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-button-link);
  text-decoration: none;
  margin: 2rem auto;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-link:hover {
  color: var(--color-active);
}

/* Ícono animado (rotación si quieres usar una flecha más adelante) */
.toggle-icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

/* Rotar ícono cuando está activo */
.toggle-link.open .toggle-icon {
  transform: rotate(180deg);
}

@media screen and (max-width: 900px) {

  .navbar-logo-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .navbar-toggler {
    order: 2;
  }

  .main-content .text-content {
    padding: 2rem;
  }

  .section-title {
    margin-left: auto;
  }

  .card {
    width: 400px;
  }

  .insta-img {
    width: 100px;
    height: 110px;
  }
  .footer-logo img {
    width: 150px;
  }
  .footer-link {
    font-size: .8rem;
  }
  .footer-menu-container {
    width: 50%;
    max-width: 500px;
  }
}
@media screen and (max-width: 400px) {

  a img {
    width: 90px;
    height: 35px;
    padding-left: 8px;
  }

  .custom-heading {
    font-size: 1.5rem;
  }

  .hero-content {
    position: inherit;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 30%;
    margin-left: 0;
  }

  .story-section {
    display: flex;
    flex-direction: column-reverse;
  }

  
  .blog-recipes-section {
    margin-bottom: 0; 
    padding: 2rem 0;  
  }
  
  .footer{
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  .footer-instagram {
    display: none;
  }

  .footer-logo-menu {
    flex-direction: column;
    max-width: 600px;
    gap: 2rem;
  }
  .footer-menu-container {
    width: 100%;
    max-width: 380px;
  }
  .footer-social {
    flex-direction: column-reverse;
    max-width: 500px;
    width: 80%;
    gap: 1rem;
  }
  .footer-social-icons {
    align-items: baseline;
  }
}