:root {
    /* Colors Texts & Backgrounds */
    --color-primary: #525B00;
    --color-secondary: #351006;
    --color-text-paragraph:#000000;
    --color-text: white;
    --color-active: #818F00;
    --color-button-link: #351006;
    --color-horizontal-line: #351006;

    /* Fonts */
    --font-nav: 'Poppins', sans-serif;
    --font-buttons: 'Poppins SemiBold', sans-serif;
    --font-titles: 'Poppins Bold', sans-serif;
    --font-paragraphs: 'Manrope', sans-serif;
    --font-subtitles: 'Manrope Bold', sans-serif;
}

.logo img {
    width: 150px; /* Ajusta el tamaño del logo */
}

/* Estilo para el botón "Order Now" */
.button {
    background-color: var(--color-primary); /* Si quieres usar tu color personalizado */
    border: none;
    padding: 10px 15px;
    height: 40px;        /* Altura fija */
    width: 120px;        /* Ancho fijo si tú quieres */  
    border-radius: 20px 5px 20px 5px;
    font-family: var(--font-buttons);
    font-weight: 200;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
}

.button:hover {
    background-color: var(--color-secondary);
}

.button:active {
    background-color: var(--color-active); /* Otro color si quieres cuando lo presionan */
}


.navbar-light {
    background-color: white !important; /* Este color es blanco siempre */
}

.nav-link {
    letter-spacing: 1px; /* Ajusta a tu gusto */
  }

.navbar-nav .nav-link {
    color: var(--color-secondary) !important;
    margin-right: 20px;
    padding-right: 10px;
}

  .dropdown-toggle::after {
    display: none !important;
  }

  .caret-icon {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .caret-icon svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;   /* Centra el ícono con el texto */
    margin-left: 5px;         /* Da espacio entre el texto y el ícono */
    fill: var(--color-secondary);
  }

  .hero-video {
    height: 100vh;
    overflow: hidden;
  }
  
  .hero-video video {
    object-fit: cover;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .hero-video .overlay {
    z-index: 1;
    padding: 2rem;
    background: rgba(0, 0, 0, 1); /* optional: darken video a bit */
  }
  
  .hero-section {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .hero-content {
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translateY(-25%);
    max-width: 600px;
    text-align: left;
    margin-left: 80px;
    z-index: 2;
  }
  
  .custom-heading {
    font-family: var(--font-titles);
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  }
  
  .custom-paragraph {
    font-family: var(--font-paragraphs);
    font-size: 1.1rem;
    font-weight: 400;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }
  
  .video-controls {
    position: absolute;
    bottom: 0px; /* puedes ajustar este valor */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* para que quede por encima del video */
  }

 /* Contenedor del contenido principal */
.main-content {
  height: 100vh; /* Para que la sección ocupe toda la altura de la pantalla */
  display: flex;
  align-items: center;
}

.main-content .container-fluid {
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-content .row {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Columna del texto */
.main-content .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem; /* Aquí juegas con el espacio alrededor del texto */
}

.main-content .image-container {
  padding: 0;
  margin: 0;
}

/* Imagen */
.main-content .full-screen-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}


.horizontal-line {
  width: 22%;
  height: 1px;
  background-color: var(--color-button-link); /* Color de la línea */
  margin-top: 0px;
}

/* Personalización del enlace */
.main-content .btn-link {
  font-size: 1.2rem;
  color: var(--color-button-link);
  text-decoration: none;
  margin-bottom: 5px;
}

.main-content .btn-link:hover {
  color: var(--color-active) /* Cambia este valor al color que prefieras */
}

/* Personalización del H2 */
.main-content .text-content h2 {
  font-family: var(--font-titles); /* cambia a la fuente que desees */
  font-size: 2rem;
  color: var(--color-primary); /* cambia al color que prefieras */
  margin-bottom: 50px;
}

/* Personalización del párrafo */
.main-content .text-content p {
  font-family: var(--font-paragraphs); /* cambia según tu estilo */
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--color-text-paragraph); /* opcional si quieres cambiar color */
}

.horizontal-line2 {
  width: 44%;
  height: 1px;
  background-color: var(--color-button-link); /* Color de la línea */
  margin-top: 0px;
}

.horizontal-line3 {
  width: 31%;
  height: 1px;
  background-color: var(--color-button-link); /* Color de la línea */
  margin-top: 0px;
}

.cards-section {
  padding: 5rem 2rem;
  background-color: white; /* o el color que quieras */
}

.container-cards {
  display: flex;
  flex-wrap: wrap; /* Esto permite que las cartas se ajusten a la siguiente fila */
  justify-content: center; /* Centra las cartas */
  gap: 2rem; /* Espacio entre las cards */
  max-width: 1200px; /* Centra el contenedor */
  margin: 0 auto;
}

.card {
  width: 450px; /* Ajusta el tamaño de la carta */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px; /* Puedes ajustar la altura de la imagen para que todas sean iguales */
  object-fit: cover; /* Esto hace que las imágenes se ajusten sin distorsionarse */
}

.card-text {
  padding: 1.5rem;
  background-color: var(--color-primary);
  height: 100%;
}

.card-text h3 {
  margin: 0 0 1rem 0;
  font-family: var(--font-subtitles); /* si tienes variables */
  font-size: 1.5rem;
  color: #ffffff;
}

.card-text p {
  font-family: var(--font-paragraphs);
  font-size: 1rem;
  color: #ffffff;
}

.card-body {
  background-color: #f8f8f8; /* Color de fondo */
  padding: 10px;
}

.card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
}

.section-title {
  font-family: var(--font-headings); /* O el que uses para títulos */
  font-size: 2rem;
  color: var(--color-primary); /* O algún color que contraste */
  text-align: left;
  margin-bottom: 4rem;
  margin-top: -2rem; /* Puedes ajustar esto según el espacio que haya con la sección anterior */
  margin-left: 10rem;
}

.blog-recipes-section {
  margin-bottom: 3rem; 
  padding: 3rem 0;  
}


.blog-recipes-section h2 {
  margin-bottom: 2rem; 
  font-family: var(--font-headings); 
  font-size: 2rem; 
  color: var(--color-primary); 
}


.blog-recipes-section p {
  font-family: var(--font-paragraphs);
  font-size: 1.1rem;
  color:var(--color-text-paragraph); 
}


.blog-recipes-section .btn-link {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--color-button-link);
  text-decoration: none;
}

.blog-recipes-section .horizontal-line2 {
  width: 10%;
  height: 1px;
  background-color: var(--color-button-link);
  margin-top: 0rem;
}

.reservation-section {
  background-color: white;
  padding: 0rem 0;
  text-align: center;
}

.reservation-button {
  font-family: var(--font-buttons);
  font-size: 2rem;
  color: var(--color-primary);
  background-color: white;
  padding: 1rem 3rem;
  text-decoration: none;
  display: inline-block;
}

.reservation-button:hover {
  color: var(--color-secondary); 
}

.reservation-button:active {
  color: var(--color-active); 
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-primary);
  color: white;
  padding: 12rem 3rem 0 3rem; /* change 2:  padding */
  justify-content: center;
  align-items: center;
}

.footer-top {
  display: flex;
  max-width: 700px;
  align-items: center;
  justify-content: center; 
  gap: 2rem;
  border-bottom: 2px solid white;
  padding-bottom: 2rem; 
}

.footer-instagram {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.insta-img {
  width: 150px;
  height: 110px;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.insta-img:hover {
  transform: scale(1.1);
}

.footer-subscription {
  width: 100%;
  max-width: 500px;
  margin-top: 0.10rem;
}

.footer-subscription h3 {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.footer-subscription p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subscription-form input[type="email"] {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-paragraph);
}

.signup-btn {
  background-color: var(--color-secondary); 
}

.signup-btn:hover {
  background-color: var(--color-active);
}

.signup-btn:active {
  background-color: var(--color-primary); 
}

.footer-logo-menu {
  display: flex;
  width: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: center; 
  padding: 2rem 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 1rem;
}
.footer-logo img {
  width: 200px;
}

.footer-menu-container {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  border-radius: 35px 10px 35px 10px;
  padding: 8px 25px;
  width: 50%;
}

.footer-link {
  font-family: var(--font-nav);
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: var(--color-active);
} 

.footer-social {
  display: flex;
  width: 100%;
  max-width: 700px;
  justify-content: space-between;
}
.footer-social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: .5rem;
}
.social-icons {
  display: flex;
  gap: .5rem;
}
.footer-copy {
  text-align: right;
  width: 100%;
  max-width: 700px;
}







/* Our Menu Page */

.hero-content h1.custom-heading {
  color: white; /* Aplica el color blanco al texto del encabezado */
}

/* Estilo de la sección */
.menu-section {
  background-color: #ffffff; /* Fondo claro para la sección */
  padding: 40px 0;
}

.custom-heading {
  font-family: var(--font-titles);
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

/* Estilo del contenedor de los botones (sticky y rectángulo blanco) */
.menu-buttons-container {
  background-color: white; /* Fondo blanco */
  padding: 15px 0; /* Espaciado superior e inferior */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera para destacar el contenedor */
  position: sticky;
  top: 0; /* Pegado a la parte superior de la pantalla */
  z-index: 1000; /* Para asegurarse de que quede por encima de otros elementos */
  width: 100%;
  margin-top: 0%;
  margin-bottom: 10px; /* Espacio debajo del contenedor */
}

/* Estilo de los botones dentro del contenedor */
.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-btn {
  background-color: var(--color-primary); /* Color primario */
  color: white;
  font-size: 1.2rem;
  padding: 12px 30px;
  border-radius: 25px; /* Bordes redondeados */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  visibility: visible; /* Asegura que los botones sean visibles */
  opacity: 1; /* Asegura que no estén transparentes */
}

/* Efecto hover */
.menu-btn:hover {
  background-color: #EAD600; /* Color cuando se pasa el mouse */
  transform: translateY(-5px); /* Pequeña animación al hacer hover */
}

@media screen and (max-width: 900px) {
  .insta-img {
    width: 100px;
    height: 110px;
  }
  .footer-logo img {
    width: 150px;
  }
  .footer-link {
    font-size: .8rem;
  }
  .footer-menu-container {
    width: 50%;
    max-width: 500px;
  }
}
@media screen and (max-width: 400px) {

  .navbar-container {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .footer-instagram {
    display: none;
  }

  .footer-logo-menu {
    flex-direction: column;
    max-width: 600px;
    gap: 2rem;
  }
  .footer-menu-container {
    width: 100%;
    max-width: 380px;
  }
  .footer-social {
    flex-direction: column-reverse;
    max-width: 500px;
    width: 80%;
    gap: 1rem;
  }
  .footer-social-icons {
    align-items: baseline;
  }
}